* {
    margin: 0;
    padding: 0;
    /* background: pink; */
}

body {
    font-family: 'Roboto', sans-serif;
    background: #151515;
    /* height: 100vh; */
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    margin-top: -60px;
}

#jokeContainer {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #00000037;
    min-height: 200px;
    /* width: 500px; */
    padding: 20px;
    color: rgb(255, 255, 255);
    margin: 50px 30px;

    background-color: #9b7dff;
    border: 2px solid #000000;
    border-radius: 8px;
    /* box-sizing: border-box; */
    color: #111;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;

    box-shadow: 10px 10px 0px rgb(100, 216, 255);

}


.button {
    width: 100%;
    /* padding: 300px; */
    display: flex;
    justify-content: center;
    gap: 3rem;
    /* justify-content: space-around; */
}


/* CSS */
.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #ff8383;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

@media (max-width: 500px) {
    #jokeContainer {
        height: 350px;
        /* width: 200px; */
        margin: 10px 40px;
        margin-top: -30px;
        margin-bottom: 30px;

    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .content {
        margin-top: 40px;
        height: 750px;
        /* width: 0%; */
    }
}
